APP_NAME=SHU Food
APP_URL=http://localhost/rest_food_v3/
APP_ENV=local
DB_HOST=localhost
DB_PORT=3306
DB_NAME=rest_foodv3
DB_USER=root
DB_PASSWORD=
BKASH_NUMBER=01XXXXXXXXX
NAGAD_NUMBER=01XXXXXXXXX
SSLCOMMERZ_ENABLED=false
SSLCOMMERZ_SANDBOX=true
SSLCOMMERZ_STORE_ID=
SSLCOMMERZ_STORE_PASSWORD=
